{% extends 'base.html' %}

{% block head_title %}
This is amazing!!!
{% endblock head_title %}

{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>


<div class='row' id="tweets">
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById("tweets")
    //tweetsElement.innerHTML = "Loading..."
    //var el1 = "<h1>Hi there 1</h1>"
    //var el2 = "<h1>Hi there 2</h1>"
    //var el3 = "<h1>Hi there 3</h1>"
    //tweetsElement.innerHTML = el1 + el2 + el3
    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
        return
    }

    function LikeBtn(tweet){
        return "<button class='btn btn-primary btn-sm' onclick='handleDidLike(" +
        tweet.id + "," + tweet.likes + ")'>" + tweet.likes + " Likes </button>"
    }

    function formatTweetElement(tweet){
        var finalTweetStr = "<div class='col-12 col-md-10 mx-auto border rouded py-3 mb-4 tweet' id='tweet-" + tweet.id 
        + "'><p>" + tweet.content +
        "</p><div class='btn-group'>" + LikeBtn(tweet) +
        "</div></div>"
        return finalTweetStr
    }
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i=0; i<listedItems.length;i++){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    // Continue at 1:36:56
    xhr.send()
</script>
{% endblock content %}